﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #aaaaff
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
a.navbar-brand{
    color: #000000;
}
div.navbar {
    background-color: lightgreen;
}
div.navbar-header{
    background-color: lightgreen;
    font-weight: bolder;
}
button.navbar-toggle{
    background-color: #000000;
}
button{
    background-color: #000000;
}
.navbar-inverse .navbar-nav > li > a{
    color: black;
    font-weight: bolder;
}
a {
    color: #ffff00;
    font-weight: bolder;
}
input.btn
{
    font-weight: bolder;
    background-color: ghostwhite;
}
td,
label{
    font-weight: bolder;
    background-color: #ff6a00;
}
input{
    background-color: #ff6a00;
    font-weight: bolder;
}
div.navbar-collapse
{
    background-color: lightgreen;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }

input.searchbutton{
    background-image: url(/Content/magnifying-glass-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
}

input.savebutton{
    background-image: url(/Content/savebuttonicon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
}
input.addbutton{
    background-image: url(/Content/addbutton.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
}
div.ui-dialog-buttonset button{
    color: white;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}

input[type=file]{
    padding:10px;
    background-color:white;
}