﻿
@{
    ViewBag.Title = "Management Panel";
}

<h2>Management Panel</h2>
<div>
    @Html.ActionLink("Admin Users","Users","Management")
    <br/>
    @Html.ActionLink("Admin Anouncements","AnouncementManagement","Management")
</div>
