﻿@model IEnumerable<WSDLLC.Events.Domain.Models.AnouncementModel>

@{
    ViewBag.Title = "SearchAnouncements";
}

<h2>Search Anouncements</h2>

<p>
    @Html.ActionLink("Create New Anouncement", "AddAnouncement")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnouncementId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnouncementId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAnouncement", new { id=item.AnouncementId }) |       
            @Html.ActionLink("Delete", "DeleteAnouncement", new { id=item.AnouncementId })
        </td>
    </tr>
}

</table>
