﻿@model WSDLLC.Events.Domain.Models.SharedEventModel

@{
    ViewBag.Title = "Edit Event";
}
<script type="text/javascript" src="~/Scripts/VideoConverterApi.js"></script>
<script type="text/javascript" src="~/Scripts/recordvideoapi.js"></script>
<script type="text/javascript" src="~/Scripts/ImageApi.js"></script>
<script type="text/javascript" src="~/Scripts/twitterapi.js"></script>
<h2>Edit Event</h2>
<script type="text/javascript">
    $(document).ready(function () {
        if('@Model.EventEndDate.HasValue' === '@bool.TrueString')
        {
            $('#cbxenddate').prop('checked', true);
            $('.eventenddate').show();
            $('#EventEndDate').val('@Model.EventEndDate.Value.ToString("yyyy/MM/dd hh:mm:ss")');
        }
        else
        {
            $('.eventenddate').hide();
        }
        $('.variable').unslider();
        $('#btnAddNewImage').click(function () {
            $('#imgdialog').dialog('open');
        });
        $('#searchCoordinators').autocomplete({
            source: '/EventApp/UserAutocomplete'
        });
        
        $('#btnSearchPeople').click(function () {
            $.ajax({
                url: '/EventApp/AddCoordinatorToEvent',
                method: 'POST',
                data: {
                    userId: $('#searchCoordinators').val().split(':')[1],
                    eventId: '@Model.EventId.ToString()'
                },
                success: function(data)
                {
                    if (data.Success) {
                        $('#coordinators').append( $('#searchCoordinators').val());
                        alert('Coordinator Added');
                    }
                    else {
                        alert(data.FriendlyError);
                    }
                },
                error: function(a,b,c)
                {
                    alert(c);
                }
            });
        });
        var b = getBrowser();
        if (b !== 'Firefox' && b !== "Edge" && b !== 'Chrome' ) {
         
            $('#captureControls').hide();
            $('#imgControlsContainers').hide();
        }
        if(b === "Safari" || b === "IOS" || b === "Android")
        {
            $('#uploadsSafari').show();
        }
        else
        {
            $('#uploadsSafari').hide();
        }
    });
</script>
<div class="text-danger">
    @ViewBag.FriendlyError
</div>
<form action="/EventApp/EditEvent" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
        @Html.HiddenFor(x => x.EventId)
      
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
           <label class="control-label col-md-2">Event Type</label>
            <div class="col-md-10">
                @Html.DropDownList("EventType", WSDLLC.Events.WebApp.Helpers.HtmlExtensions.EventTypesList((int)Model.EventType))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <label for="cbxenddate" class="control-label">Event Has Mutiple Days?</label>
            <input type="checkbox" class="form-control cbxeventenddate" id="cbxenddate" />
            <div class="eventenddate">
                <label for="EventEndDate" class="control-label">Event End Date</label>
                <input name="EventEndDate" id="EventEndDate" class="datetimepicker form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">State Or Province</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.StateOrProvince, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.StateOrProvince, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Postal Code</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control ", placeholder = "USA" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <label class="control-label col-md-2">Coordinators</label>
            <div class="col-md-10">
                <input type="text" id="searchCoordinators" />
                <input type="button" id="btnSearchPeople" value="Select Person" />
            </div>
        </div>
        <div style="text-align:left">
            Coordinators
        </div>
        <div id="coordinators" style="text-align:left">
            <ul style="list-style-type:none" id="coordinators">
            @foreach(var p in Model.Coordinators)
            {
              <li>  @Html.Raw(p.LastName + ", " + p.FirstName + "(" + p.NickName + ")") </li>
            }
            </ul>
        </div>
        <div id="imgControlsContainers">
            <a href="#" onclick="AddFileUploadLibrary();">Add Image From Library</a>
            <br />
            <a href="#" onclick="AddFileUploadCamera('player');">Add Image From Camera</a>
        </div>
        <div id="captureControls">
            <video id="player" autoplay="autoplay" controls="controls" height="200" width="200"></video>
            <br />
            <input type="button" value="Take Picture" id="btnCameraCapture" onclick="TakePicture('player', 'thumbnailContainer', 'preview');" />
            <br />
            <input type="button" value="Turn Off Camera" id="btnStopRecording" onclick="StopRecordingImages('player');" />
            <br />
            <canvas id="preview" width="200" height="200" class="hidden" />
        </div>
        <div id="uploadsSafari">
            <a href="#" onclick="AddFileUploadLibrary()">Add Upload File</a>
        </div>
        <div>
            <div>
                Images:
            </div>
            <div id="thumbnailContainer">

            </div>
            <div id="imgContainer">

            </div>
        </div>
        <div>
            @if (Model.Images != null)
            {
                <section class="slider variable">
                    @foreach (var img in Model.Images)
                    {
                        <div>
                            @Html.Raw(WSDLLC.Events.WebApp.Helpers.HtmlExtensions.ImageControlFromBytes(img.Picture, img.ImageId.ToString(), "Event Image"))
                        </div>    
                    }
                </section>
            }
        </div>
        @if (Model.Tags != null && Model.Tags.Count > 0)
        {
            <div class="form-group">
                <label class="control-label"> Current #'s</label>
                <div>
                    @foreach (var t in Model.Tags)
                    {
                        @t.TagName <a href="#" onclick="RemoveTagFromEvent(@t.TagName, @Model.EventId, this);">Remove</a>
                        <br />
                    }
                </div>
            </div>
        }
        <div class="form-group">
            <label class="control-label">Add #'s</label>
            <input type="text" class="form-control" id="hashTags" name="hashTags" placeholder="#EventTag" />
        </div>
        <div id="twittercontainer">
            
        </div>
        <input type="hidden" id="hfId" value="@Model.EventId"/>
        <div>
            <a class="tumblr-share-button" data-color="white" data-notes="right" href="https://embed.tumblr.com/share"></a>
            <script>!function(d,s,id){var js,ajs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://assets.tumblr.com/share-button.js";ajs.parentNode.insertBefore(js,ajs);}}(document, "script", "tumblr-js");</script>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="savebutton btn btn-default" />
            </div>
        </div>
    </div>
    </form>

    <div>
        @Html.ActionLink("Back to My Events", "MyEvents")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
