﻿
@{
    ViewBag.Title = "Video To Image Converter";
}
<script type="text/javascript" src="~/Scripts/VideoConverterApi.js"></script>
<script type="text/javascript" src="~/Scripts/recordvideoapi.js"></script>
<script type="text/javascript" src="~/Scripts/ImageApi.js"></script>
<script type="text/javascript">
    var imgAngle = 0;
    $(document).ready(function () {
        $('#record').click(function () {
            LoadCamera('player');
        });
        $('#stop').click(function () {
            StopRecording();
        });
        $('#download').click(function () {
            download();
        });
        $('#upload').click(function () {
            UploadImages();
        });
        var b = getBrowser();
        if (b == "Chrome" || b == "Firefox" || b == "Edge") {
            $('#html5VideoCapture').show();
            $('#backUpUpload').hide();
        }
        else if (b == "Safari" || b == "IOS" || b == "Android") {
            var fileInput = document.getElementById('cameraBackUp');
            var preview = document.getElementById('previewImg');
            $('#btnRotateLeft').click(function () {
                imgAngle -= 90;
                if (imgAngle < -360)
                {
                    imgAngle += 360;
                }
                $('#previewImg').rotate(imgAngle);
            });
            $('#btnRotateRight').click(function () {
                imgAngle += 90;
                if (imgAngle > 360)
                {
                    imgAngle -= 360;
                }
                $('#previewImg').rotate(imgAngle);
            });
            fileInput.addEventListener('change', function (e) {
                var url = URL.createObjectURL(e.target.files[0]);
                preview.setAttribute('src', url);
            });
            $('#html5VideoCapture').hide();
            $('#backUpUpload').show();
        }
        else 
        {
            $('#html5VideoCapture').hide();
            $('#backUpUpload').hide();
            alert('Your browser is not supported!');
        }
        $('#loader').hide();
    });
   
    function UploadBackUp()
    {
        var id;
        if ($('#cameraBackUp').val() != '')
        {
            id = document.getElementById('previewImg');
        }
        else
        {
            alert('An Image Is Required!');
            return;
        }
                     
        var p = document.getElementById('previewCanvas');
        p.width = id.width;
        p.height = id.height;
        var ctx = p.getContext('2d');
        // translate context to center of canvas
        ctx.translate(p.width/2, p.height/2);
        if (imgAngle < 0)
        {
            imgAngle += 360;
        }
        
        ctx.rotate((Math.PI / 180) * imgAngle);
        ctx.translate(-1*(p.width/2),-1*(p.height/2));
        // rotate 45 degrees clockwise
        //cxt.rotate(Math.PI / 4);
        ctx.drawImage(id, 0, 0,p.width,p.height);
        $('#loader').show();
            //createImage(event.target.result); //event.target.results contains the base64 code to create the image.
        var img64 = p.toDataURL('image/png');
   
        if (!img64)
        {
            return;
        }
            $.ajax({
                url: '/EventApp/AddBase64Image',
                method: 'POST',
                data: {
                    imgStr: img64
                },
                success: function (data) {
                    if (data && data.Success) {
                        alert('Image Uploaded!');
                        window.location.href = '/EventApp/Dashboard';
                        //previewCanvas
                    }
                    else
                    {
                        alert(data.Error);
                    }
                    //id.src = '';
                    $('#loader').hide();
                },
                error: function (a, b, c) {
                    alert(c);
                    id.src = '';
                    $('#loader').hide();
                }

            });
        //};
        //reader.readAsDataURL(id.src);//Convert the blob from clipboard to base64
                
    }

</script>
<h2>Video To Image Converter</h2>
<div id="backUpUpload">
    Choose Picture: <input type="file" accept="images/*" capture="camera" id="cameraBackUp" />
    <br/>
    <input type="button" value="Upload" onclick="UploadBackUp();" />
    <br/>
    <img src="~/Content/ajax-loader.gif" alt="loading..." id="loader"/>
    <br/>
    <button id="btnRotateLeft" value="Rotate Left" class="form-control btn btn-default">Rotate Left</button>
    <button id="btnRotateRight" value="Rotate Right" class="form-control btn btn-default" >Rotate Right</button>
    <br/>
    <img id="previewImg" width="200" height="200" alt="Preview Image" />
    <br />
    <canvas width='200' height='200' id="previewCanvas"></canvas>
</div>
<div id="html5VideoCapture">
<div>
    <input class="form-control" type="button" id="record" value="Record From Web Cam"/>
    <br/>
    <input class="form-control" type="button" id="stop" value="Take Picture" />
    <br/>
    <input class="form-control"type="button" id="download" value="Download Movie" />
    <br/>
    <input class="form-control" type="button" id="upload" value="Upload Images"/>
</div>
<div>
    <video id="player" controls="controls"></video>
</div>
<div id="thumbnailContainer">

</div>
<div>
    <canvas id="preview" width="1000" height="1000">

    </canvas>
</div>
</div>