﻿@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/json2.js"></script>
<script src="~/Scripts/jstorage.js"></script>
<script type="text/javascript">
    function CheckTermsChanged()
    {
        $.ajax({
            url: '/Home/CheckAnouncements',
            success: function(data)
            {
                if(data.Success && data.Message)
                {
                    var msg = $.jStorage.get('Message', '');
                    if ( msg === data.Message)
                    {
                        return;
                    }
                    $('#anouncements').html(data.Message);
                    $("#anouncements").dialog({
                        autoOpen: true,
                        maxWidth:600,
                        maxHeight: 500,
                        width: 280,
                        height: 320,
                        modal: true,
                        buttons: {
                            "I Agree": function() {
                                $.jStorage.set('Message', data.Message, { TTL: 100000000 });
                                $(this).dialog("close");
                            }
                        },
                        close: function() {
                        }
                    });
                
                }
            }
        });
    }
    $(document).ready(function () {
        $('#loader').hide();
        $('#btnSignUp').click(function () {
            window.location.href = '/Home/TermsAndConditions';
        });
        $('#anouncements').hide();
        CheckTermsChanged();
        $('#txtUsername').val($.jStorage.get('Username',''));
        $('#txtPin').val($.jStorage.get('Pin', ''));
        $('#rememberMe').prop('checked', $.jStorage.get('RememberMe',false));
        $('#btnLogin').click(function () {
            $('#loader').show();
            var pin = $('#txtPin').val();
            var username = $('#txtUsername').val();
            $.ajax({
                url: '/Home/Login',
                method: 'POST',
                data: {
                    username: username,
                    pin: pin
                },
                success :
                    function(data)
                    {
                        if(data.Success)
                        {
                           

                            if ($('#rememberMe').is(':checked'))
                            {
                                $.jStorage.set('Pin', pin, { TTL: 100000000 });
                                $.jStorage.set('RememberMe', true, { TTL: 100000000 });
                            }
                            else
                            {
                                $.jStorage.set('Pin', '', { TTL: 100000000 });
                                $.jStorage.set('RememberMe', false, { TTL: 100000000 });
                            }
                            $.jStorage.set('Username', username, { TTL: 100000000 });
                            
                            
                            window.location.href = '/EventApp/Dashboard';
                            
                        }
                        else
                        {
                            $('#loader').hide();
                            alert('Failed to login!');
                        }
                    },
                error : function(a,b,c)
                {
                    $('#loader').hide();
                    alert(c);
                }
            });
        });
        var b = getBrowser();
        if (b == 'Android' || b == 'IOS' || navigator.userAgent.toLowerCase().indexOf('mobile') == -1)
        {
            $('#mobileAppLinks').hide();
        }
    });
</script>
<div id="anouncements">

</div>
<div>
    <img id="loader" src="~/Content/ajax-loader.gif" style="text-align:center;" alt="loading" />
    <table>
        <tbody>
            <tr><td>Phone Number or Email</td><td><input type="text" id="txtUsername" class="form-control" /></td></tr>
            <tr><td>Pin</td><td><input type="password" id="txtPin" class="form-control"/></td></tr>
            <tr><td>Remember Me?</td><td><input  type="checkbox" id="rememberMe" class="checkbox form-control"/></td></tr>
        </tbody>
        <tfoot>
            <tr><td><input type="button" id="btnSignUp" value="Sign Up" class="form-control" />
</td>
              <td><input type="button" class="btn btn-default form-control" value="Login" id="btnLogin" />
                </td>  </tr></tfoot></table>
</div>
<div id="mobileAppLinks">
    <table>
     <tbody>
        <tr><td>Get The IOS App:</td><td>
            <a href="#"><img id='iOSBadge' width="100" height="50" src='~/Content/appstore.svg' /></a></td></tr>
        <tr><td>Get The Android App:</td><td><a href="https://play.google.com/store/apps/details?id=com.woodensoftwaredevelopment.gopickyourself"><img width="100" height="50" id='androidBadge' src='~/Content/android.png' /></a></td></tr>
     </tbody>
     </table>
</div>
<div>
    @Html.ActionLink("Reset Pin", "ResetPasswordWithoutCode","Home")
</div>