﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loading...</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        function LoadHome()
        {
            window.open('/Home/Index');
        }
        $(document).ready(function () {
            setTimeout(function () {
                LoadHome();
            }, 2000);
        });
    </script>
</head>
<body onload="LoadHome();" style="background-color:yellow;">
    <div style="text-align:center;"> 
        <img src="~/Content/ajax-loader.gif" alt="loading..." />
    </div>
    <div>
        <input value="Load App" type="button" onclick="LoadHome();" class="btn form-control" />
    </div>
</body>
</html>
