﻿
@{
    ViewBag.Title = "TermsAndConditions";
}

<h2>Terms And Conditions</h2>

<form action="/Home/CreateProfile">
    <div id="terms">

    </div>
    <div>
        <input type="submit" value="I Agree" />
    </div>
</form>